$font-family-1: 'Fontdiner Swanky', cursive;
$font-family-2: 'Metal Mania', cursive;
$font-family-3: 'Roboto', sans-serif;
$font-family-4: 'Special Elite', cursive;

$color-1:rgba(3, 51, 74, 1);
$color-2:rgba(4, 101, 146, 1);
$color-3:rgba(50, 179, 201, 1);
$color-4:rgba(102, 215, 219, 1);
$color-5:rgba(166, 231, 233, 1);

$h1:clamp(1rem,2.5vw,4rem);
$h2:clamp(0.5rem,1vw,2rem);

$box-shadow-1: 0px 0px 10px 4px rgba(4, 101, 146, 1);
$box-shadow-2: 0px 0px 15px 4px rgba(4, 101, 146, 1);