form.form(action='/new-entry', method='POST')
  .form-grupo
    label.form-label(for="titulo") titulo
    input#titulo.form-control(type="text" name="titulo" placeholder="ingresa el titulo" autofocus="" required="")
  .form-grupo
    label.form-label(for="keywords") keywords
    input#keywords.form-control(type="text" name="keywords" placeholder="ingresa la keywords" autofocus="" required="")
  .form-grupo
    label.form-label(for="imagen") imagen
    input#imagen.form-control(type="text" name="imagen" placeholder="ingresa la imagen" autofocus="" required="")
  .form-grupo
    label.form-label(for="backgroud") backgroud
    input#backgroud.form-control(type="text" name="backgroud" placeholder="ingresa la backgroud" autofocus="" required="")
  // archivos de video
  .form-grupo
    label.form-label(for="video1") video1
    input#video1.form-control(type="text" name="video1" placeholder="ingresa el video" autofocus="" required="")
  .form-grupo
    label.form-label(for="video2") video2
    input#video2.form-control(type="text" name="video2" placeholder="ingresa el video" autofocus="" required="")
  .form-grupo
    label.form-label(for="video3") video3
    input#video3.form-control(type="text" name="video3" placeholder="ingresa el video" autofocus="" required="")
  .form-grupo
    label.form-label(for="video4") video4
    input#video4.form-control(type="text" name="video4" placeholder="ingresa el video" autofocus="" required="")
  // archivos a descargar
  .form-grupo
    label.form-label(for="archivo1") archivo1
    input#archivo1.form-control(type="text" name="archivo1" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo2") archivo2
    input#archivo2.form-control(type="text" name="archivo2" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo3") archivo3
    input#archivo3.form-control(type="text" name="archivo3" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo4") archivo4
    input#archivo4.form-control(type="text" name="archivo4" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo5") archivo5
    input#archivo5.form-control(type="text" name="archivo5" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo6") archivo6
    input#archivo6.form-control(type="text" name="archivo6" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo7") archivo7
    input#archivo7.form-control(type="text" name="archivo7" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo8") archivo8
    input#archivo8.form-control(type="text" name="archivo8" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo9") archivo9
    input#archivo9.form-control(type="text" name="archivo9" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo10") archivo10
    input#archivo10.form-control(type="text" name="archivo10" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo11") archivo11
    input#archivo11.form-control(type="text" name="archivo11" placeholder="ingresa el archivo" autofocus="" required="")
  .form-grupo
    label.form-label(for="archivo12") archivo12
    input#archivo12.form-control(type="text" name="archivo12" placeholder="ingresa el archivo" autofocus="" required="")
  // descripcion
  .form-grupo
    label.form-label(for="descripcion") descripcion
    textarea#descripcion.form-control(name="descripcion" rows="4" placeholder="descripcion")
  button.btn(type="submit") enviar
