        <!-- Just an image -->
<nav class="header_nav">
  <a class="" href="/">
    <img src="https://res.cloudinary.com/dzbxmdvi5/image/upload/v1592437448/svg/skull-solid_onfpgj.svg" class="header_svg" loading="lazy">
  </a>
</nav>