<!-- CSS only -->
link(rel="stylesheet", href="css/index.css")
link(rel="stylesheet", href="../css/index.css")
link( rel="icon" href="https://res.cloudinary.com/dzbxmdvi5/image/upload/v1592437448/svg/skull-solid_onfpgj.svg")

<!-- JS, Popper.js, and jQuery -->

link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Metal+Mania&family=Roboto:wght@700&family=Special+Elite&display=swap")
<script src="https://kit.fontawesome.com/fba790b3f8.js" crossorigin="anonymous"></script>

link(rel='stylesheet' href='img/glide.core.css')
link(rel='stylesheet' href='img/glide.theme.css')
link(rel='stylesheet' href='img/carusel.css')

script(src='js/glide.min.js')
script(src='https://kit.fontawesome.com/fba790b3f8.js' crossorigin='anonymous')