<!DOCTYPE html>
html(lang='es')
    head
        meta(charset="UTF-8")
        meta(name="robots" content="index")
        meta(name="name" content="content")
        meta(http-equiv="content-language", content="es")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="google-site-verification", content="mh6JQJacthtVr1qxym__BcOWR35W2-OgQaW92WxDOlA")
        title 🎬 primero Peliculas OMG gnulax 🎬😃🤑 | Peliculas Online Gratis gnula | HD SD 4K
        meta(name="description" content="mira las peliculas mas recientes del cine en la comodidad de tu casa en cualquier dispositivo en español o SubEspañol, ingles o SubIngles y sin cortes y en HD,peliculas online y estar al dia sobre los mejores estrenos de cine")
        meta(name="keywords", content="estrenos,pelicula,peliculas,repelis,cine,gnula,allpeliculas,peliculas,HD,SD,4K,online,estreno,subtitulada,español,latino,castellano,dvd-r,alta calidad,completa")

        include head

    body.body
        
        section.block.grid_header
            include header_pelicula 

        section.block.grid_carrusel
            include carusel

        section.block.grid_contenido
            include contenido

        section.block.grid_footer
            include footer                               