<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>hola</header>
    
    <form action="" method="post" class="form">

        <div class="form-grupo">
            <label class="form-label" for="titulo">titulo</label>
            <input type="text" id="titulo" class="form-control" name="titulo" placeholder="ingresa el titulo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="imagen">imagen</label>
            <input type="text" id="imagen" class="form-control" name="imagen" placeholder="ingresa la imagen" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="backgroud">backgroud</label>
            <input type="text" id="backgroud" class="form-control" name="backgroud" placeholder="ingresa la backgroud" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="video1">video1</label>
            <input type="text" id="video1" class="form-control" name="video1" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="video2">video2</label>
            <input type="text" id="video2" class="form-control" name="video2" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="video3">video3</label>
            <input type="text" id="video3" class="form-control" name="video3" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="video4">video4</label>
            <input type="text" id="video4" class="form-control" name="video4" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo">archivo</label>
            <input type="text" id="archivo" class="form-control" name="archivo" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo">archivo</label>
            <input type="text" id="archivo" class="form-control" name="archivo" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo1">archivo1</label>
            <input type="text" id="archivo1" class="form-control" name="archivo1" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo2">archivo2</label>
            <input type="text" id="archivo2" class="form-control" name="archivo2" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo3">archivo3</label>
            <input type="text" id="archivo3" class="form-control" name="archivo3" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo4">archivo4</label>
            <input type="text" id="archivo4" class="form-control" name="archivo4" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo5">archivo5</label>
            <input type="text" id="archivo5" class="form-control" name="archivo5" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo6">archivo6</label>
            <input type="text" id="archivo6" class="form-control" name="archivo6" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo7">archivo7</label>
            <input type="text" id="archivo7" class="form-control" name="archivo7" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo8">archivo8</label>
            <input type="text" id="archivo8" class="form-control" name="archivo8" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo9">archivo9</label>
            <input type="text" id="archivo9" class="form-control" name="archivo9" placeholder="ingresa el archivo" autofocus required>
        </div>

        <div class="form-grupo">
            <label class="form-label" for="archivo11">archivo11</label>
            <input type="text" id="archivo11" class="form-control" name="archivo11" placeholder="ingresa el archivo" autofocus required>
        </div>

       

        <div class="form-grupo">
            <label class="form-label" for="descripcion">descripcion</label>
            <textarea name="descripcion" id="descripcion"  rows="4" class="form-control" placeholder="descripcion"></textarea>
        </div>

        <button type="submit" class="btn">enviar</button>

    </form>

                    La historia de Artemis Fowl es la de un niño de 12 años de edad que está a punto de arrebatar el poder al mundo subterráneo. Lo que él todavía no sabe es que sus habitantes: hadas, duendes, elfos... no son las criaturas maravillosas que siempre hemos imaginado y no van a consentir que un humano conozca sus secretos más sagrados. Como él, van armados hasta las barbas y conocen las últimas tecnologías: se prepara un trepidante duelo que puede provocar una auténtica guerra entre las especies del planeta.

    <footer></footer>
</body>
</html>